.jacUwG {
  padding-left: 0px !important;
}
.fxJtHF{
  padding-left: 0px !important;
}
.ciZGdg {
  padding-left: 0px !important;
}
.ilrXHg {
  padding-left: 0px  !important;
}
.ilrXHg p {
  background-color: white  !important;
  color: black  !important;
}
.MuiBox-root-11 {
  padding: 0px !important;
  padding-top: 0px !important;
  padding-left: 0px  !important;
  margin-left: 0px  !important;
  margin-right: 0px  !important;
}

.MuiBox-root{
padding: 0px;
}
.MuiAppBar-colorPrimary {
  color: white !important;
  background-color: #215a93 !important;
}
.MuiBox-root-33 {
   padding: 0px !important;
}
.kGmXDC {
  padding-left: 0px !important;
}
div.mdb-datatable div.mdb-datatable-filter input {
  text-align: center;
}
.cDPNYS {
  margin-left: 0px !important;
}
.highcharts-title{
  display: none;
}
.Visible{
  display:none;
}
.dataTables_scrollHeadInner{
  padding-right: 0px !important;
}
.bs-select{
  color:black !important;
}
.pagination .page-item .page-link{
  display:none !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0 !important;
}
.cZNInY p {
  margin-left: -8px !important;
}
.sidebar {
  max-height: 80%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:rgb(244 255 244 / 0%) !important;
  overflow-x: hidden;
  transition: 0s;
  padding-top: 0px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 14px;
  cursor: pointer;
  background-color: #014B96;
  color: white;
  padding: 10px 10px;
  border: none;
  position:relative;
  border-bottom-left-radius:6px;
  transition: 0.5s;
}
.openbtn:visited{
  background-color: red !important;
}
.openbtn:hover {
  background-color:     rgb(236, 124, 51);
  ;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}