@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  font-family: 'Poppins', sans-serif;
}


.infobox{
  width: 15%;
  top: 8px;
  right: 16px;
  position: absolute;
  background-color: #fff;
  z-index: 10000;
}
.Legend{
  width: 15%;
  bottom: 8px;
  right: 16px;
  position: absolute;
  background-color: #fff;
  z-index: 10000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.SidePanel{
    border-right:1px solid #080808;
    position: absolute;
    width: 4.75rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(98, 89, 89, 0.55);
  
}


.SidePanel >ul>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 15px;
  padding:  15px;
}

.SidePanel >ul>li:hover {
  background-color: rgb(60, 137, 160);
  border-radius: 10px;
}

.SideBarWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
}
.MuiSvgIcon-root:hover{
  color: #dad9e0;
}


.task {
  width: 20vw;
  width: 20rem;
  margin: 5px;
  margin-left: 150px;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;

}
.LayerTree p{
  width: 20vw;
  background: #f4f4f4;
  width: 20rem;
  margin: 5px;
  margin-left: 150px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h5 {

  align-items: center;
  justify-content: space-between;
}




